header {
 
    width: 100%;
    position: sticky;
    height: 170px;
    top: 0;
    background-color: white;
    z-index: 2;

}

header>div.header-top {
    width: inherit;
    height: 60px;
}

header>div.header-top>a>img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

header>div.header-top>a {
    text-decoration: none;
    width: 100%;
    height: inherit;
    display: inline-block;
    object-position: center center;
}

header>div.header-bottom {
    width: 100%;
    height: 112px;
    box-shadow: 0 1px 2px lightgray;
}

header>div.header-bottom>div.bTop {
    width: 100%;
    height: 70px;
}
header>div.header-bottom>div.bTop>a.logo{
    width: 10%;
    height: inherit;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
}

header>div.header-bottom>div.bTop>a.logo>div.logo {
    width: 100%;
    height: inherit;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 20px;
}

header>div.header-bottom>div.bTop>div.logo>svg{
    width: 100%;
    margin-top: 20px;

}
header>div.header-bottom>div.bTop>div.logo>g{
    fill: red;
}


header>div.header-bottom>div.bTop>div.search {
    width: 70%;
    height: inherit;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    position: relative;
}
header>div.header-bottom>div.bTop>div.search>input[type=text]{
    width: 50%;
    height: 45px;
    margin-top: 15px;
    background-color:#F1F2F4;
border: unset;
border-radius: 10px;
padding-right: 15px; 
font-family: yekan;
transition: 300ms;
}

header>div.header-bottom>div.bTop>div.search>input[type=text]:focus{
    outline: unset;
    background-color: violet;
}
header>div.header-bottom>div.bTop>div.search>input[type=text]::placeholder{
    font-size: 11px;
}
header>div.header-bottom>div.bTop>div.search>input[type=text]:focus::placeholder{
    color: whitesmoke;
}
header>div.header-bottom>div.bTop>div.search>i{
    position: absolute;
    left: 52%;
    top: 55%;
    transform: translate(-50%,-50%);
}

header>div.header-bottom>div.bTop>div.login {
    width: 20%;
    height: inherit;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}
header>div.header-bottom>div.bTop>div.login>a:nth-child(1){
    display: inline-block;
    width: 150px;
    height: 45px;
    background-color: white;
    margin: 15px auto;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    font-family: yekan;
    font-size: 11px;
    color: #2b2b2b;
    font-weight: bold;
    word-spacing: 2px;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: absolute;
    left: 63px;

}

header>div.header-bottom>div.bTop>div.login>a>i:nth-child(1){
    font-size: 16px;
vertical-align: middle;
transform: rotate(180deg);
margin-left: 10px;
}
header>div.header-bottom>div.bTop>div.login>a:nth-child(2){
    width: 50px;
    height: 40px;
    position: absolute;
    top: 78px;
    left: 3px;
    text-decoration: none;
}
header>div.header-bottom>div.bTop>div.login>a:nth-child(2)>i{
position: absolute;
display: inline-block;
font-size: 20px;
top: 8px;
left: 11px;
transform: rotateY(180deg);
color: black;
}
header>div.header-bottom>div.bTop>div.login>a:nth-child(2)>span{
    font-size: 29px;
    position: absolute;
    left: 43px;
    color: lightgrey;
}div.bBottom{
    width: 100%;
    height: 40px;
    background-color: white;
    padding-right: 2px;
    box-sizing: border-box;
}
div.bBottom>nav{
display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.bBottom>nav>div.menu{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 59%;
height: inherit;
vertical-align: top;
}
div.bBottom>nav>div.menu>div.submenu{
height: 40px;
flex-grow: 1;
position: relative;
transition: 300ms ease-in-out;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1)>a{
font-size: 14px;
font-weight: bold;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1)>a>svg{
    scale: 0.9;
    fill: black;
}
div.bBottom>nav>div.menu>div.submenu:hover{
    border-bottom: 1px solid crimson;
}

div.bBottom>nav>div.menu>div.submenu>a{
display: flex;
align-items: center;
width: 100%;
color: #2b2b2b !important;
height: inherit;
line-height: 20px;
text-decoration: none;
font-family: yekan;
font-size: 12px;
}
div.bBottom>nav>div.menu>div.submenu>a>i{
margin-left: 8px;
font-size: 17px;
}
div.bBottom>nav>div.menu>div.submenu>a>svg{
width: 23px;
    height: 23px;
    fill: darkgray;
    scale: 0.8;
    margin-left: 2px;
font-size: 17px;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1)>div.inside-menu{
width: calc(90vw - 60px);
    height: 50vh;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    z-index: 100;
    border: 1px solid gainsboro;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 0px 0px inset;
    border-radius: 0 0 0 5px;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu{
    display: block;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div{
width: 15%;
    height: 100%;
    overflow: auto;
    background-color: #f5f5f5;
    direction: ltr;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.name{
direction: rtl;
width: 100%;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-family: yekan;
    font-size: 11px;
    color: #3f4064;
    display: block;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.name>a{
width: 100%;
box-sizing: border-box;
height: 40px;
line-height: 40px;
text-decoration: none;
font-family: yekan;
font-size: 11px;
color: #3f4064;
display: block;
}

div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.name:hover>a{
color: crimson;
    background-color: #fff;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.name:hover>a>svg{
    fill: crimson;
    }
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.content{
    direction: rtl;
width: 85%;
    height: 100%;
    background-color: white;
    overflow: auto;
    position: absolute;
    left: 0%;
    top: 0;
    display: none;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.content{
    display: block;
    background-color: white;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.content>div.title{
width: 100%;
height: 20%;
padding-right: 9px;
padding-top: 15px;
box-sizing: border-box;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.content>div.title>a{
font-family: yekan;
font-size: 14px;
font-size: bold;
color: #008eb2;
text-decoration: none;
margin-left: 15px;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.content>div.sub-content{
    width: 100%;
    height: 90%;
    padding-right: 20px;
    box-sizing: border-box;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.content>div.sub-content>div.inside-sub{
width: auto;
    height: 100%;
    display: inline-block;
    margin-right: -4px;
    margin-left: 40px;
    vertical-align: top;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.content>div.sub-content>div.inside-sub>a{
font-family: yekan;
font-size: 16px;
font-size: bold;
color: #080a38;
text-decoration: none;
display: block;
line-height: 40px;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.content>div.sub-content>div.inside-sub>a>i{
color: crimson;
font-size: 14px;
font-weight: bold;
margin-left: 10px;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.content>div.sub-content>div.inside-sub>ul>li{
    font-family: yekan;
    font-size: 13px;
    font-size: bold;
    color: #767790;
    text-decoration: none;
    display: block;
    line-height: 40px;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.content>div.sub-content>div.inside-sub>ul>li:hover{
    color: crimson;
    cursor: pointer;
}
div.bBottom>nav>div.menu>div.submenu:nth-of-type(1):hover>div.inside-menu>div>div.sort>div.name>a>svg{
    
    width: 23px;
    font-size: bold;
    height: 23px;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 5px;
    scale: 0.8;
    fill: darkgray;
    }
    div.bBottom>nav>div.location{
        width: 15%;
        display: inline-block;
        margin: 8px 3px 8px 0;
        position: absolute;
        left: -2%;
    }
    div.bBottom>nav>div.location>label{
    font-family: yekan;
    font-size: 12px;
    color: #3f4064;
    cursor: pointer;
    text-align: center;
    }
    div.bBottom>nav>div.location>label>i{
    padding-left: 10px;
    font-size: 17px;
    }
    div.bBottom>nav>div.location>p{
    font-family: 'yekan';
    display: inline-block;
    font-size: 13px;
    position: absolute;
    width: 78%;
    height: 252%;
    text-align: center;
    top: 172%;
    left: 19%;
    color: white;
    vertical-align: middle;
    line-height: 47px;
    background-color: #23254e;
    border-radius: 9px;
    display: none;
    }
    div.bBottom>nav>div.location:hover>p{
        display: block;
    }