div.offer{
    width: 100%;
    height:150px;
    background-color: #FFFFFF;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}
div.offer>div.offerItem{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;
}
div.offer>div.offerItem>a>img{
    width: 52px;
    height: 52px;
}
div.offer>div.offerItem>a{
    text-decoration: none;
    display: inline-block;
}
div.offer>div.offerItem>h4{
    font-family: yekan;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    display: block;
}
img{
    width: 52px;
    height: 52px;
}